h1{
	font-family: 'Pacifico', cursive;
	font-size: 5rem;
}

html body { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

d-flex{
	flex-direction: column;
}