h1{
	font-family: 'Pacifico', cursive;
	font-size: 5rem;
	margin: 15px;
}

html body { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav{
	margin:5%;
}

.btn-dark{
	margin-right: 5%;
}