.bgm { 
background-color:#262424;
color: white;
}

.bg-light{
	background-color: #3b3636!important;
}

.navbar-light .navbar-brand{
	color: rgba(255,255,255,.9);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.dropdown-menu{
	background-color: #3b3636;
}

.dropdown-item{
	color: rgba(255,255,255,.9);
}

.dropdown-divider{
	border-top: 1px solid rgba(255,255,255,.9);
}

.btn-outline-success {
    color: rgba(255,255,255,.9);
    border-color: #262424;
}

.btn-outline-success:hover {
	background-color: #262424;
	border-color: #262424;
	color: rgba(255,255,255,.9);
}